/* * {
  margin: 0 ;
  padding: 0;
} */

/* body {
  background: rgb(25, 66, 128);
  background: linear-gradient(
    90deg,
    rgba(25, 66, 128, 1) 0%,
    rgba(75, 7, 80, 1) 100%
  );
} */
@media (max-width: 765px) {
  #wrapper {
    background: black;
    margin: 0px auto !important;
    margin-top: -25px !important;
    width: 90% !important;
    min-height: 940px;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(86, 10, 85);
  }
}

body {
  background-image: url("Fortnite.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

#wrapper {
  background: black;
  margin: 0px auto !important;
  margin-top: -25px !important;
  width: 51%;
  min-height: 940px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(86, 10, 85);
}

.row {
  margin-top: 25px !important;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#spinner {
  position: absolute;
  margin-top: 310px;
}

.text-primary {
  color: rgba(86, 10, 85) !important;
}

.solo {
  background: rgb(54, 5, 59);
  background: linear-gradient(
    90deg,
    rgba(54, 5, 59, 1) 0%,
    rgba(109, 26, 116, 1) 100%
  );

  border-left: none;
}

ul {
  border: none !important;
}

.title {
  color: white;
  padding-bottom: 15px;
  font-family: "Courgette", cursive;
  font-size: 49px;
}

.details {
  margin-top: 60px;
}

.list-group-horizontal-md li {
  width: 33.39999%;
  border-top: none;
  border-radius: none !important;
  border-radius: none !important;
}

td {
  border: 1px solid #dfdfdf !important;
  width: 33.444%;
}

.table {
  border: 3px solid black !important;
}
